ul {
	list-style: none;
}

li > ul {
	display: none;
	position: absolute;
	background-color: #FFFFFF;
	z-index: 100;
}

li {
	margin-left: -25px;
	position: relative;
	white-space: nowrap;
	width: auto;
}

a, a:hover, a:active, a:visited {
	text-decoration: none;
	color: black;
}


li:hover > a {
	text-decoration: underline;
}

li:hover > ul {
	display: block;
}