.reset-blank,
header > ul,
header > ul li,
header > ul li img,
section,
section .image-holder .image img {
  margin: 0;
  padding: 0;
}
input[type='radio'] {
  display: none;
}
input[type='radio']:checked ~ div.image {
  display: block;
}
header h1 {
  border-bottom: 2px solid #ccc;
}
header > ul {
  list-style-type: none;
}
header > ul li {
  display: inline-block;
}
header > ul li img {
  width: 100px;
  height: 100px;
  max-height: 100px;
}
section .image-holder {
  max-width: 300px;
}
section .image-holder .image {
  display: none;
  margin-top: 20px;
}
section .image-holder .image img {
  height: 300px;
}
footer {
  border-top: 2px solid #ccc;
  margin-top: 20px;
}
